In [1]:
import numpy as np
np.random.seed(45)
import pandas as pd
pd.set_option('display.max_columns', 0)

In [2]:
data_path = r'C:\Users\DucTRung\Desktop\data_set\statistics'

In [3]:
AI_Bundy_f = pd.read_excel(data_path+'\\inferential_statistics_final_exam.xlsx', header=3, usecols='B:O')

In [6]:
AI_Bundy_f = AI_Bundy_f.rename(columns={'Unnamed: 12': 'Year'})

In [7]:
AI_Bundy_f.head()

   InvoiceNo                Date         Country  ProductID  Shop  ... UnitPrice  Discount  Year  Month  SalePrice
0      52389 2014-01-01 01:06:24  United Kingdom       2152   UK2  ...       159       0.0  2014      1      159.0
1      52390 2014-01-01 03:44:48   United States       2230  US15  ...       199       0.2  2014      1      159.2
2      52391 2014-01-01 09:01:36          Canada       2160  CAN7  ...       149       0.2  2014      1      119.2
3      52392 2014-01-01 09:16:00   United States       2234   US6  ...       159       0.0  2014      1      159.0
4      52393 2014-01-01 13:35:12  United Kingdom       2222   UK4  ...       159       0.0  2014      1      159.0

[5 rows x 14 columns]