# CREATE TABLE

For example, imagine a _users data set_ containing for each user with _user_id, name, and num_friends_.

**In SQL, we might create this table with:**

```SQL
CREATE TABLE users (
    user_id INT NOT NULL,
    name VARCHAR(200),
    num_friends INT);
```

In [22]:
class Table:
    def __init__(self, columns):
        self.columns = columns
        self.rows = []
        
    def __repr__(self):
        """pretty representation of the table: columns then rows"""
        return str(self.columns)

In [23]:
Table(['user_id', 
       'name', 'num_friends'])

['user_id', 'name', 'num_friends']

# INSERT

**We can insert the rows with _INSERT_ statements:**

```SQL
INSERT INTO users (user_id, name, num_friends) VALUES (0, 'Hero', 0);
```

In [64]:
class Table:
    def __init__(self, columns):
        self.columns = columns
        self.rows = []
        
    def __repr__(self):
        """pretty representation of the table: columns then rows"""
        return str(self.columns) + "\n" + '\n'.join(map(str, self.rows))
    
    def insert(self, row_values):
        if len(row_values) != len(self.columns):
            raise TypeError('wrong number of elements')
        row_dict = dict(zip(self.columns, row_values))
        self.rows.append(row_dict)

In [65]:
users = Table(['user_id', 'name', 'num_friends'])
users.insert([0, 'John', 0])
users.insert([1, 'Terrance', 2])

In [67]:
users

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'John', 'num_friends': 0}
{'user_id': 1, 'name': 'Terrance', 'num_friends': 2}

# UPDATE

Sometimes we need to update the data that's already in the database. For instance, if John acquires another friend, we might need to do this:

```SQL
UPDATE users
SET num_friends = 3
WHERE user_id = 1;
```

The key features are:
* What table to update
* Which rows to update
* Which fields to update
* What their new values should be

In [75]:
class Table:
    def __init__(self, columns):
        self.columns = columns
        self.rows = []
        
    def __repr__(self):
        """pretty representation of the table: columns then rows"""
        return str(self.columns) + "\n" + '\n'.join(map(str, self.rows))
    
    def insert(self, row_values):
        if len(row_values) != len(self.columns):
            raise TypeError('wrong number of elements')
        row_dict = dict(zip(self.columns, row_values))
        self.rows.append(row_dict)
        
    def update(self, updates, predicate):
        for row in self.rows:
            if predicate(row):
                if predicate(row):
                    for column, new_value in updates.items():
                        row[column] = new_value

In [80]:
users = Table(['user_id', 'name', 'num_friends'])
users.insert([0, 'John', 0])
users.insert([1, 'Terrance', 2])
users

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'John', 'num_friends': 0}
{'user_id': 1, 'name': 'Terrance', 'num_friends': 2}

In [81]:
users.update({'num_friends': 3},
             lambda row: row['user_id'] == 1)
users

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'John', 'num_friends': 0}
{'user_id': 1, 'name': 'Terrance', 'num_friends': 3}

# DELETE

There are two ways to delete rows from a table in SQL:

1. Deletes every row from a table

```SQL
DELETE FROM users;
```

2. Only deletes rows that match the where

```SQL
DELETE FROM users WHERE user_id = 1;
```

In [8]:
class Table:
    def __init__(self, columns):
        self.columns = columns
        self.rows = []
        
    def __repr__(self):
        """pretty representation of the table: columns then rows"""
        return str(self.columns) + "\n" + '\n'.join(map(str, self.rows))
    
    def insert(self, row_values):
        if len(row_values) != len(self.columns):
            raise TypeError('wrong number of elements')
        row_dict = dict(zip(self.columns, row_values))
        self.rows.append(row_dict)
        
    def update(self, updates, predicate):
        for row in self.rows:
            if predicate(row):
                if predicate(row):
                    for column, new_value in updates.items():
                        row[column] = new_value
                        
    def delete(self, predicate= lambda row: True):
        """delete all rows matching predicate 
        or all rows if no predicate supplied"""
        self.rows = [row for row in self.rows if not(predicate(row))]

In [10]:
users = Table(['user_id', 'name', 'num_friends'])
users.insert([0, 'John', 0])
users.insert([1, 'Terrance', 2])
users

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'John', 'num_friends': 0}
{'user_id': 1, 'name': 'Terrance', 'num_friends': 2}

In [11]:
# deletes rows with user_id == 1
users.delete(lambda row: row['user_id'] == 1)
users

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'John', 'num_friends': 0}

In [95]:
# deletes every row
users.delete()
users

['user_id', 'name', 'num_friends']

# SELECT

* We can use SQL to query from tables with **SELECT** statement:

```SQL
SELECT * FROM users;                           -- get the entire contents
SELECT * FROM users LIMIT 2;                   -- get the first two rows
SELECT user_id FROM users;                     -- only get specific columns
SELECT user_id FROM users WHERE name = 'John'; -- only get specific rows
```

* We can also use **SELECT** statements to calculate fields:

```SQL
SELECT LENGTH(name) AS name_length FROM users;
```

In [44]:
class Table:
    def __init__(self, columns):
        self.columns = columns
        self.rows = []
        
    def __repr__(self):
        """pretty representation of the table: columns then rows"""
        return str(self.columns) + "\n" + '\n'.join(map(str, self.rows))
    
    def insert(self, row_values):
        if len(row_values) != len(self.columns):
            raise TypeError('wrong number of elements')
        row_dict = dict(zip(self.columns, row_values))
        self.rows.append(row_dict)
        
    def update(self, updates, predicate):
        for row in self.rows:
            if predicate(row):
                if predicate(row):
                    for column, new_value in updates.items():
                        row[column] = new_value
                        
    def delete(self, predicate= lambda row: True):
        """delete all rows matching predicate 
        or all rows if no predicate supplied"""
        self.rows = [row for row in self.rows if not(predicate(row))]
        
    def select(self, keep_columns=None, additional_columns=None):
        '''Return a new table, and this method accepts two optional arguments:
        1/ keep_columns: specifies the name of the columns we want to keep in the results, if don't supply it, the result contains all the columns.
        2/ additional_columns: is a dictionary whose keys are new column names and whose values are functions specifying how to compute the values of the new columns.
        '''
        if keep_columns is None:        # if no columns specified
            keep_columns = self.columns # return all columns
            
        if additional_columns is None:
            additional_columns = {}
            
        # new table for results
        result_table = Table(keep_columns + additional_columns.keys())
        
        for row in self.rows:
            new_row = [row[column] for column in keep_columns]
            for column_name, calculation in additional_columns.items():
                new_row.append(calculation(row))
            result_table.insert(new_row)
            
        return result_table
    
    def where(self, predicate= lambda row: True):
        '''Return only the rows that satisfy the supplied predicate'''
        where_table = Table(self.columns)
        where_table.rows = filter(predicate, self.rows)
        return where_table
    
    def limit(self, num_rows):
        '''return only the first num_rows rows'''
        limit_table = Table(self.columns)
        limit_table.rows = self.rows[:num_rows]
        return limit_table

In [33]:
users = Table(['user_id', 'name', 'num_friends'])
users.insert([0, 'John', 0])
users.insert([1, 'Terrance', 2])
users

['user_id', 'name', 'num_friends']
{'user_id': 0, 'name': 'John', 'num_friends': 0}
{'user_id': 1, 'name': 'Terrance', 'num_friends': 2}

# GROUP BY

* **GROUP BY** operation groups together rows with identical values in specified columns and produces aggregate values like _Min_, _Max_, _Count_ and _Sum_.

For example, we might want to find the number of users and the smallest _user_id_ for each possible name length:

```SQL
SELECT LENGTH(name) as name_length, MIN(user_id) AS min_user_id, COUNT(*) AS num_users 
FROM users
GROUP BY LENGTH(name);
```

* SQL also supports a **HAVING** clause that behaves similary to a **WHERE** clause except that its filter is applied to aggregates (whereas a WHERE would filter out rows before aggregation even took place).

For example, we might want to know the average number of friends for users whose names start with specific letters but only see the results for letters whose corresponding average is greater than 1:

```SQL
SELECT SUBSTR(name, 1, 1) AS first_letter, AVG(num_friends) AS avg)num_friends
FROM users
GROUP BY SUBSTR(name, 1, 1)
HAVING AVG(num_friends) > 1;
```

# ORDER BY

* **ORDER BY** helps us to sort the results.

For example, we might want to know the first two names of your users:

``` SQL
SELECT * FROM users
ORDER BY name
LIMIT 2;
```

# JOIN

* When our data lives across different tables, how do we analyze it? SQL provides **JOIN** operation. A JOIN combines rows in the left table with corresponding rows in the right table, where the meaning of "corresponding" is based on how we specify the join.

For example, to find the users interested in SQL:

```SQL
SELECT users_table.name FROM users_table
JOIN user_interests_table ON users_table.user_id = user_interests_table.user_id -- this is inner join
WHERE user_interests_table.interest = 'SQL'
```

* There is also a **LEFT JOIN**, which returns a row for each left-table row with no matching rows, in which case, the fields that would have come from the right table are all _NULL_.

# Subqueries

* In SQL, we can __SELECT__ from (and **JOIN**) the results of queries as if they were tables. 

So if we wanted to find the smallest _user_id_ of anyone interested in _SQL_, we could use a subquery:

```SQL
SELECT MIN(user_id) AS min_user_id
FROM(SELECT user_id FROM user_interests WHERE interest = 'SQL') sql_interests;
```

# Indexes & Query Optimization

There are some problems:

1. To find rows containing a specific value, database has to inspect every row in the table. If the table has a lot of rows, this can take a very long time.

2. Simiarly, out *join* algorithm is extremely inefficient. For each row in the left table, it inspects every row in the right table to see if it's a match. With two large tables this could take approximately forever.

3. Also, we'd often like to apply constraints to some of our columns. For example, in our _users_ table, we probably don't want to allow two different users to have the same _user_id_.

**Indexes** solve all these problems. If the _user_interests_ table had a index on _user_id_, a smart _join_ could find matches directly rather than scanning the whole table. If the _users_ table had a "unique" index on _user_id_, we'd get an error if we tried to insert a duplicate.

* Tip for optimizing query: **filter-before-join** is almost certainly more efficient, since that case _join_ has many fewer rows to operate on.